In [28]:
import numpy as np
import pandas as pd

In [29]:
states = [4,1,2,5,6]
moveLeft = [0,0,1,0,0]
moveRight = [1,0,0,1,0]
rotate = [0,1,0,0,1]

df = pd.DataFrame({"State":states, "moveLeft":moveLeft, "moveRight":moveRight, "rotate":rotate})
df

   State  moveLeft  moveRight  rotate
0      4         0          1       0
1      1         0          0       1
2      2         1          0       0
3      5         0          1       0
4      6         0          0       1

In [30]:
a = [[np.random.randint(0,2) for i in range(16)] for j in range(10)]
a

[[0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1],
 [1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0],
 [1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
 [1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1],
 [1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0],
 [1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1],
 [0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0]]

In [31]:
b = 0
for i in range(len(a)):
    for j in range(len(a[i])):
        if a[i][j] == 1:
            b = b << 1
            b = b|1
        else:
            b = b << 1
c = int(bin(b)[2:])

In [32]:
df2 = pd.DataFrame({"State":[c], "moveLeft":[1]})
df2

                                               State  moveLeft
0  1111110101000010100101100010101110000101010000...         1

In [33]:
df3 = pd.DataFrame({"State":np.random.randint(0,2,size=(10,)), "move":np.random.randint(0,2, size=(10,))})
df3

   State  move
0      1     0
1      0     0
2      0     0
3      1     1
4      0     1
5      1     0
6      1     0
7      1     1
8      1     0
9      0     1

In [36]:
for i in range(int(1e2)):
    df3 = pd.concat([df3, pd.DataFrame({"State":np.random.randint(0,2,size=(3,)), "move":np.random.randint(0,2, size=(3,))})], axis=0, ignore_index=True)
df3

     State  move
0        1     0
1        0     0
2        0     0
3        1     1
4        0     1
..     ...   ...
605      1     1
606      0     1
607      0     0
608      0     0
609      1     1

[610 rows x 2 columns]

In [37]:
df3["move"][0]

0